{% extends "layout-for-user.html" %}
{% block titulo %} Editar Usuario {% endblock %}

{% block contenido %}
    <hr class="margin-t-24"/>
    <ul class="site-nav-mobile-user-menu" data-site-nav-category="Profile">
  <li>
    <a class="site-nav-mobile-avatar site-nav-bold-text" data-site-nav-element="User" href="/Monchito5">
      <img class="photo lazyload" alt="GUILLERMO DANIEL ZARAGOZA CASTRO" width="40" height="40" data-src="https://cdn.dribbble.com/users/14060952/avatars/normal/data?1669524605" src="" />
      <span>GUILLERMO DANIEL ZARAGOZA CASTRO</span>
</a>  </li>
  <div class="site-nav-mobile-user-menu-columns">
    <li>
      <a data-site-nav-element="Profile" href="/Monchito5">
        Profile
</a>    </li>

    <li><a data-site-nav-element="Work Preferences" data-open-availability-modal="work-types" href="#">Work Preferences</a></li>


    <li>
        <a data-site-nav-element="Go Pro" href="/pro">
          Go Pro
</a>    </li>

    <li><a data-site-nav-element="My Boosted Shots" href="/Monchito5/boosts">My Boosted Shots</a></li>
    <li><a data-site-nav-element="My Likes" href="/Monchito5/likes">My Likes</a></li>
    <li><a data-site-nav-element="My Collections" href="/Monchito5/collections">My Collections</a></li>





      <li><a data-site-nav-element="Go Pro" href="/pro">Go Pro</a></li>

    <li><a data-site-nav-element="Account Settings" href="/account">Account Settings</a></li>
  </div>

  <hr class="margin-t-24" />


    <li class="site-nav-mobile-application-cta">
      <button class="js-designer-application-cta site-nav-no-hover site-nav-user-item-content btn-link blurple">Get a free Designer Account</button>
    </li>
    <hr />

  <div class="site-nav-mobile-footer">
    <li><a data-site-nav-element="Sign Out" rel="nofollow" data-method="delete" href="https://dribbble.com/session">Sign Out</a></li>
  </div>
</ul>

</div>

</div>


<div class="ajax notice hide">
  <h2></h2>
</div>




<div class="notice-alert">
  <h3><!-- message goes here --></h3>
  <div class="close" aria-label="close">
    <img
      class="lazyload"
      data-src="https://cdn.dribbble.com/assets/icon-shot-x-light-f3676a5f3f6b7d0902be702c858a78e3de991957bbb7cec07daef7150e284fd8.png"
      width="16"
      height="16"
      alt="close"
    >
  </div>
</div>



<div id="wrap">
  <div id="wrap-inner" >
    <div id="content" role="main">
<div class="constrained-content-alt">
  
<div class="group">
  <div class="slat-header user account-slat-header">
    <div class="slat-details">
      <h1><a class="url" rel="contact" href="/Monchito5"><picture>
  <source srcset="https://cdn.dribbble.com/users/14060952/avatars/normal/data?1669524605" media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">
  <source srcset="https://cdn.dribbble.com/users/14060952/avatars/small/data?1669524605">
  <img class="photo" alt="GUILLERMO DANIEL ZARAGOZA CASTRO" src="https://cdn.dribbble.com/users/14060952/avatars/small/data?1669524605" />
</picture>
 <span class="display-name">GUILLERMO DANIEL ZARAGOZA ...</span></a>
          <span class="sep">/</span> Edit Profile
      </h1>
        <h2>Set up your Dribbble presence and hiring needs</h2>
    </div>
  </div>
</div>


  <div class="secondary">
    <ul class="vertical-sidenav account-menu hiring-profile-account-menu">
      <li><a href="/account">General</a></li>
      <li class="active"><a href="/account/profile">Edit Profile</a></li>
      <li><a href="/account/password">Password</a></li>
      <li><a href="/account/social_profiles">Social Profiles</a></li>
      <li><a href="/account/notifications">Email Notifications</a></li>
      <li><a href="/account/sessions">Sessions</a></li>
      <li><a href="/account/applications">Applications</a></li>
      <li><a href="/account/export">Data Export</a></li>
      <li class="separator"></li>
      <li class="warning"><a href="/account/destroy_confirm">Delete Account</a></li>
</ul>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const tabsSidebar = document.querySelector('.vertical-sidenav');
    tabsSidebar.querySelector('li.active a').addEventListener('click', function(e) {
      e.preventDefault();
      tabsSidebar.classList.toggle('open');
    })
  });
</script>

  </div>

  <div id="main">
    
<div id="avatar-preview" class="group">
  <form class="edit_user" id="delete-avatar-form" disabled="disabled" action="/account/avatar" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="delete" /><input type="hidden" name="authenticity_token" value="D8Y6E84u92Dij/dANFnKn2SZiTy0pLAefrWvxqpHKK5u1BbEg1Xyss5uUIowxq/qr4vrNCRA2AP+HYjU1sx6lg==" />    <picture>
  <source srcset="https://cdn.dribbble.com/users/14060952/avatars/normal/data?1669524605" media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">
  <source srcset="https://cdn.dribbble.com/users/14060952/avatars/small/data?1669524605">
  <img class="photo" alt="GUILLERMO DANIEL ZARAGOZA CASTRO" src="https://cdn.dribbble.com/users/14060952/avatars/small/data?1669524605" />
</picture>


    <noscript>
      <h4>JavaScript Not Enabled</h4>
      <p>Uploading an avatar requires the use of JavaScript. If you’d like to upload an avatar, please enable JavaScript in your browser and refresh this page.</p>
    </noscript>

    <a id="edit-avatar-link" class="form-sub edit-avatar" href="#">Upload new picture</a>
    <input type="submit" name="commit" value="Delete" alt="Delete" class="form-btn delete-avatar" id="delete-avatar-button" data-disable-with="Delete" />
</form>
  <form class="group hide" id="avatar-form" enctype="multipart/form-data" action="/account/avatar" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="Bm12O67ktIS1AjT9CXmR4KKtmml+PcJ7+MYcXntkXAjqw6qwCmVDXe0EEoYDSfyK0PWD6GdLit9296GcRgC2cQ==" />
    <fieldset id="upload">
      <input size="30" type="file" name="user[avatar]" id="user_avatar" />
      <p class="info">JPG, GIF or PNG. Max size of 800K</p>
    </fieldset>

    <div id="add-btn">
      <input type="submit" name="commit" value="Upload Now" class="form-sub" data-disable-with="Upload Now" />
    </div>
</form></div>


    <form class="gen-form with-messages profile-form specialty-widget-form" id="new_profile" data-change-handler="true" data-warn-unsaved="true" action="/account/profile" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="ZIl4fXdjKvGcApDAOimp+4CAhUjhzf72tf9nvRKW9iS/nqjGSZUmU04KlWwRc0NvTGetOCSFmoG/THHP8p2p0Q==" />
      

      
<span class="ta-required">
    <div class="form-field "><fieldset><label for="profile_name">Name</label><input autocomplete="name" class="ta-label input-with-outline-only" type="text" value="GUILLERMO DANIEL ZARAGOZA CASTRO" name="profile[name]" id="profile_name" /></fieldset><p class="message">We’re big on real names around here, so people know who’s who.</p></div>
</span>

<div class="form-field "><fieldset><label for="profile_location">Location</label><input autocomplete="address-level2" class="ta-label mb10 input-with-outline-only" type="text" value="México" name="profile[location]" id="profile_location" /></fieldset></div>

<div id="bio">
  <div class="form-field "><fieldset><label for="profile_bio">Bio</label><textarea class="bio input-with-outline-only" name="profile[bio]" id="profile_bio">
</textarea></fieldset><p class="message">Brief description for your profile. URLs are hyperlinked.</p></div>
</div>

  <div class="relative mt50">
    <h3 class="text-small-caps text-medium text-size-13 pb10 margin-b-20 border-bottom-gray" id="online_presence">Online Presence</h3>

    <div class="form-field "><fieldset><label for="profile_url">Personal website</label><input autocomplete="url" class="input-with-outline-only" type="text" name="profile[url]" id="profile_url" /></fieldset><p class="message">Your home page, blog, or company site.</p></div>

    <div class="flex flex-wrap items-center justify-between">
      <div class="w-50-ns w-100 pr10-ns">
      <div class="form-field "><fieldset><label for="profile_website_url">Portfolio URL</label><input autocomplete="url" class="input-with-outline-only" type="text" name="profile[website_url]" id="profile_website_url" /></fieldset><p class="message">Only shared with potential employers.</p></div>
    </div>

    <div class="w-50-ns w-100 pl10-ns">
      <div class="form-field "><fieldset><label for="profile_portfolio_password">Portfolio password</label><input class="input-with-outline-only" type="text" name="profile[portfolio_password]" id="profile_portfolio_password" /></fieldset><p class="message">Only if needed.</p></div>
      </div>
    </div>

    <div class="form-field "><fieldset><label for="profile_calendly_url">Calendly URL</label><input autocomplete="url" class="input-with-outline-only" type="text" name="profile[calendly_url]" id="profile_calendly_url" /></fieldset><p class="message">Will only be used if you set yourself as available for work.</p></div>
  </div>


      <div class="form-btns">
        <input type="submit" name="commit" value="Save Profile" class="form-sub form-sub mr10-ns mb10 mb0-ns d-inline-block-ns w-auto-ns w-100" formnovalidate="formnovalidate" data-disable-with="Save Profile" />
</div></form>
  </div>
</div>


<script src="https://cdn.dribbble.com/assets/packs/js/talent/specialty_widget.f0530df9f1f986dd8e49.js"></script>
<script src="https://cdn.dribbble.com/assets/packs/js/smooth_scroll.8eb072f9e4757efcd715.js"></script>





    </div>
  </div>
</div>

<hr />

{% endblock %}