{% extends "layout.html" %}
{% block titulo %} Learn To {% endblock %}
{% block contenido %}

<main class="container py-3 mt-3">
  <div class="bg-light p-3 rounded mt-5 main-c">
    <h1>Aprender A</h1>
    {% if current_user.is_anonymous %}
    <p></p>
    {% else %}
    <p class="lead">¡Bienvenido! <span class="fw-bolder">{{ current_user.username }}</span></p>
    {% endif %}
    <p class="lead">Comparte y Disfruta de la experiencia que ofrece Learn To 
      para que nunca pares de aprender.</p>
    {% if current_user.is_anonymous %}
    <a class="btn btn-lg btn-primary" href="{{ '/loginUser' }}" role="button">Iniciar Sesión<img src="{{url_for('static', filename='assets/next-icon.svg')}}" alt="" width="40" height="30" class="d-inline-block align-text-center">
    {% else %}
    <p></p>
    {% endif %}
    </a>
  </div>
</main>

<!-- ============================== -->
<!-- Carrusel -->
<!-- ============================== -->

<!-- CONTENIDO -->

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
            <img src="{{url_for('static', filename='assets/book-open.svg')}}" alt="" width="80" height="50" class="d-inline-block align-text-center">
          Énfocate en tus objetivos</h1>
        <p class="lead text-muted">¡Que tu curiosidad sea una virtud! <hr>
          Échale un vistazo a los artículos más vistos por la comunidad.</p>
      </div>
    </div>



  <div class="album py-5 bg-light rounded-5 shadow" style="--bs-bg-opacity: .3;">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static', filename='img/python.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="python">
            <div class="card-body">
              <h4>Tips de programación en Python</h4>
              <h6>Joaquín Sánchez</h6>
              <p class="card-text">Aprende los trucos que he aprendido en Python
                a lo largo de 2 años como desarrollador.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static', filename='img/calistenia.png')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="python">

            <div class="card-body">
              <h4>Calistenia - Guía para novatos </h4>
              <h6>Daniel Guevara</h6>
              <p class="card-text">Esta es la rutina de ejercicios básica para novatos 
                en calistenia que seguí durante 6 meses.</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static', filename='img/economia.jpg')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="python">

            <div class="card-body">
              <h4>Economía para estudiantes</h4>
              <h6>Pamela Monroy</h6>
              <p class="card-text">Guía que ayudará a cuidar tu economía para que
                no te quedes sin dinero para el camión.</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
</section>
</main>
<!-- ============================== -->
<!-- Blog -->
<!-- ============================== -->

<main class="container">
<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Learn To - Blog
    </h3>


    <article class="blog-post">
      {% for row in articles %}
      <h2 class="blog-post-title mb-1">{{ row.4 }}</h2>
      {% endfor %}
      {% for row in user %}
      <p class="blog-post-meta"><a href="#">{{ row.1 }}</a></p>
      {% endfor %}
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <ul>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
      </ul>
      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
    </article>

    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Sobre el aprendizaje</h2>
      <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

      <p>Si pones en práctica lo que aprenderás en este artículo, conseguirás que el aprendizaje de tus alumnos o hijos sea mucho más rápido y duradero.</p>
      <hr>
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <h2>Blockquotes</h2>
      <p>This is an example blockquote in action:</p>
      <blockquote class="blockquote">
        <p>Quoted text goes here.</p>
      </blockquote>
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <h3>Example lists</h3>
      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
      <ul>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
      </ul>
      <p>And this is an ordered list:</p>
      <ol>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
      </ol>
      <p>And this is a definition list:</p>
      <dl>
        <dt>HyperText Markup Language (HTML)</dt>
        <dd>The language used to describe and define the content of a Web page</dd>
        <dt>Cascading Style Sheets (CSS)</dt>
        <dd>Used to describe the appearance of Web content</dd>
        <dt>JavaScript (JS)</dt>
        <dd>The programming language used to build advanced Web sites and applications</dd>
      </dl>
      <h2>Descubre tu canal de aprendizaje</h2>
      <p>Alimenta tu curiosidad con todo el contenido de los expertos <a href="https://www.curiosamente.com/"> Curiosamente.com</a>.</p>
      <ul>
        <li>Auditivo</li>
        <li>Kinestésico</li>
        <li>Visual</li>
      </ul>
      <p>Most of these elements are styled by browsers with few modifications on our part.</p>
      <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/20cZLUyKGR4" title="YouTube video" allowfullscreen></iframe>
      </div>
      <h2>¿Qué son los canales de aprendizaje?</h2>
      <p>Los canales de aprendizaje son aquellos «caminos» por los que te llega la información a través de los sentidos. Si el mismo mensaje te llega por varios “caminos” será mucho más fácil de recordar.</p>
      <h3>Sub-heading</h3>
      <p>Además, las personas solemos tener algún canal más desarrollado que otro, es decir, si identificas cual es el canal con el que mejor aprenden cada uno de tus alumnos, podrás personalizar el aprendizaje.</p>
      <pre><code>Example code block</code></pre>
      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
    </article>

    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Visual</h2>
      <p class="blog-post-meta">Marzo 23, 1994 hecho por <a href="#">Colosio</a></p>

      <p>Este canal es, junto con el auditivo, el más frecuentemente utilizado en la enseñanza habitual: los alumnos visualizan la información en las pizarras, en los libros y en las fichas.</p>
      <blockquote>
        <p>Las personas que tienen predominancia de este canal de aprendizaje tienden a percibir el entorno mediante estímulos visuales. <strong>emphasized text</strong> in the middle of it.</p>
      </blockquote>
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <h3>Example table</h3>
      <p>And don't forget about tables in these posts:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Upvotes</th>
            <th>Downvotes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alice</td>
            <td>10</td>
            <td>11</td>
          </tr>
          <tr>
            <td>Bob</td>
            <td>4</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Charlie</td>
            <td>7</td>
            <td>9</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Totals</td>
            <td>21</td>
            <td>23</td>
          </tr>
        </tfoot>
      </table>

      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
    </article>

    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Auditivo</h2>
      <p class="blog-post-meta">Julio 14, 2020 hecho por <a href="#">Juanito</a></p>
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <ul>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
      </ul>
      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
      <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
    </nav>

  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded" style="--bs-bg-opacity: .3;">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
      </div>
      {% for row in articles %}
      <div class="p-4">
        <h4 class="fst-italic">Artículos</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">{{ row.5 }}</a></li>
        </ol>
      </div>
      {% endfor %}
      <div class="p-4">
        <h4 class="fst-italic">Enlaces</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}