{% extends "layout.html" %}
{% block titulo %} Learn To - Inicio de sesión {% endblock %}
{% block contenido %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
<link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/shakeanim.css')}}">
<!-- ============================== -->
<!-- Login -->
<!-- ============================== -->
<form action="/loginUser" method="post" class="formulario">
  {% with messages = get_flashed_messages() %}

  {% if messages %}
  <br/>
  {% for message in messages %}
  <div class="alert alert-primary alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  {% endwith %}    
  <h1>Iniciar Sesión</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="container">
       
    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/email-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
      <input type="text" class="form-control" placeholder="Correo Electronico" name="email" required>
    </div>
       
    <div class="input-group mt-3 mb-3"">
      <img src="{{url_for('static', filename='assets/key-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
      <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
    </div>
       
    <input type="submit" value="Continuar" class="button">
       <hr>
       <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
       <p>¿No tienes una cuenta? <a class="btn btn-secondary ms-2 my-2" href="/loginRegister" >Registrate </a></p>
   
  </div>
  </form>

<!-- ============================== -->
<!-- Más código pero este es ejemplo de contraseña incorrecta anim -->
<!-- ============================== -->

{% endblock %}