{% extends "layout.html" %}
{% block titulo %} Learn To - Inicio de sesión {% endblock %}

{% block css %} 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" >
<link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/shakeanim.css')}}">
{% endblock %}

{% block contenido %}
<!-- ============================== -->
<!-- Login -->
<!-- ============================== -->
<main>
<form action="/loginRegister" method="post" class="formulario">
  <h1>Registrate</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="container">
   
    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/user-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
      <input type="text" class="form-control" placeholder="Nombre Completo" name="fullname" required>
    </div>
       
    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/cat-profile-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
      <input type="text" class="form-control" placeholder="Apodo" name="username" required>
   </div>
    
    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/student-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
      <select class="form-select" id="inputGroupSelect02" name="schoolgrade" required>
        <option selected>Elige tu nivel de estudios...</option>
        <option value="Ninguno">Ninguno</option>
        <option value="Primaria">Primaria</option>
        <option value="Secundaria">Secundaria</option>
        <option value="Preparatoria">Preparatoria</option>
        <option value="Licenciatura">Licenciatura</option>
        <option value="Ingenieria">Ingeniería</option>
        <option value="Doctorado">Doctorado</option>
      </select>
      <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
    </div>

    <div class="input-group mt-3 mb-3p">
      <img src="{{url_for('static', filename='assets/age-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1">
      <input type="number" class="form-control" placeholder="Ingresa tu edad" id="tentacles" name="age" min="0" max="100" required>
    </div>

    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/email-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
       <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" placeholder="Correo Electronico" name="email"  required>
    </div>
       
    <div class="input-group mt-3 mb-3">
      <img src="{{url_for('static', filename='assets/key-icon.svg')}}" alt="" width="30" height="30" class="d-inline-block align-text-center m-1" >
       <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
    </div>
       
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
         Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.
        </label>
        <div class="invalid-feedback">
          Es necesario aceptar los términos y condiciones para continuar con el registro.
        </div>
      </div>
    </div>
    <br>
    <input type="submit" value="Registrate" class="button">
      <hr>
       <p>¿Ya tienes una cuenta? <a class="btn btn-secondary ms-2 my-2" href="/loginUser">Iniciar Sesion</a></p>

  </div>
  </form>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
{% endblock %}