body {
    background-color: #b9daf4;
    background-image: linear-gradient(180deg, #b9daf4 0%, #ffffff 50%, #ebd3ff  100%);    
    background-repeat: no-repeat;
}    
.offcanvas {
    background-color: #b9daf4;
    background-image: linear-gradient(180deg, #b9daf4 0%, #ffffff 50%, #ce94ff 100%);    
}
.main-c {
background-image: url(pictures/013\ Heavy\ Rain.png);
}  

.articles-c {
background-image: url(pictures/013\ Heavy\ Rain.png);
}  

.footer-c {
margin-top: 20px;
padding-bottom: 1%;
background: #757F9A;  
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); 
background: linear-gradient(to right, #D7DDE8, #757F9A); 
}

.redes-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: auto;
}

.btn-primary {
background: #56ab2f;  
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
background: linear-gradient(to right, #a8e063, #56ab2f); 
border: 1px solid  #56ab2f;
}