.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: rgb(230, 230, 230);
    margin-top: 20px;
    padding: 3px;
}
h1{
    margin-top: 8px;
    text-align: center;
    color: #2d1d45;
    font-size: 28px;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #203658;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{
    background: rgb(160, 95, 147);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 450px;
        margin-top: 120px;
        border-radius: 2%;
    }
}
